/*colors:
background: #FDFAF8
Accent: #FFC194
Section Titles: #B0A59E
text: #4E4C4C
navigation and labels: #282828
font-family: 'Maven Pro', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Rubik', sans-serif;
*/
body {
    background: #FDFAF8;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4E4C4C;
    line-height: 1.6;
}
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
h1 {
    font: 700 2.4em/1.6 'Maven Pro', sans-serif;
}
.h1_subtitle {
    /*why is this not working?*/
    font: 700 1.7em/1.6 'Maven Pro', sans-serif;
}
h2 {
    font: 900 2em/1.6 'Maven Pro', sans-serif;
    color: #B0A59E;
}
h3 {
    font: 800 0.8em/1.6 'Nunito Sans', sans-serif;
    color: #282828;
    text-transform: uppercase;
}
h4 {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2;
    font-family: 'Rubik', sans-serif;
}
.nav_button {
    display: inline-block;
    font: 500 1em/1.6 'Rubik', sans-serif;
    color: #282828;
    text-decoration: none;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 16px;
    transition: 0.2s ease-in;
}
.nav_button:hover {
    background-color: #FFC194;
    font-weight: 700;
}
.nav_button:focus {
    background-color: rgba (255, 193, 148, 0.5)
}
.nav_button:active{
    background: linear-gradient(to bottom, #FFC194, #A1653A);
    font-weight: 700;
    color: #ffffff;
}
.nav {
    list-style: none;
}
img {
    width: 100%;
}
.contact {
    color:blue;
    text-decoration: none;
}
.contact:visited {
    color: purple;
}
.contact:hover,
.contact:focus {
    text-decoration: underline;
}
.contact:active {
    color:black;
    text-decoration: underline;
    font-weight: bold;
}