/*colors:
background: #FDFAF8
Accent: #FFC194
Section Titles: #B0A59E
text: #4E4C4C
navigation and labels: #282828
font-family: 'Maven Pro', sans-serif; 700 900 
font-family: 'Nunito Sans', sans-serif; 400 700 800
font-family: 'Rubik', sans-serif; 400 500 700
*/
body {
    background: #FDFAF8;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4E4C4C;
    line-height: 1.6;
}
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
h1 {
    font-weight: 700;
    font-size: 2.4em;
    line-height: 1.2;
    font-family: 'Maven Pro', sans-serif;
}
.h1_subtitle {
    /*why is this not working?*/
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.2;
    font-family: 'Maven Pro', sans-serif;
}
h2 {
    font-weight: 900;
    font-size: 2em;
    line-height: 1.2;
    font-family: 'Maven Pro', sans-serif;
    color: #B0A59E;
}
h3 {
    font-weight: 800;
    font-size: 0.8em;
    line-height: 1.2;
    font-family: 'Nunito Sans', sans-serif;
    color: #282828;
    text-transform: uppercase;
}
h4 {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2;
    font-family: 'Rubik', sans-serif;
}
img {
    width: 100%;
}
a {
    font-weight: 700;
    color:#FF7918;
    text-decoration: none;
}
a:visited {
    color: #742800;
}
a:hover {
    font-weight: 800;
}
a:focus {
    font-weight: 800;
    text-decoration: underline;
    border: none;
    /*cant remove the border from the focus state*/
}
a:active {
    font-weight: 800;
    color: red;
}   
.button,
.button:visited {
    display: inline-block;
    color: #ffffff;
    background-color: #FF9243;
    font-weight: 800;
    padding: 4px 8px;
    border-radius: 4px;
    transition: 0.2s;
}
.button:hover {
    box-shadow: 0px 1px 16px rgba(105, 56, 21, 0.5);
}
.button:focus {
    box-shadow: none;
    opacity: 0.8;
    text-decoration: none;
}
.button:active {
    color: #FF9243;
    background-color: transparent;
    border: 3px solid #FF9243;
}